li{
    background-image: url("../../Fotos/unchecked.png") ;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}
.checked{
    background-image: url("../../Fotos/checked.png") ;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}